{% extends 'user_base.html' %}

{% block content %}
<br>
<h1>All notes</h1>
<table style="width:100%">
    <tr>
        <th>Sl. No.</th>
        <th>Author</th>
        <th>Uploaddate</th>
        <th>Branch</th> 
        <th>Subject</th>
        <th>NotesFile</th>
        <th>File Type</th>
        <th>Description</th>
    </tr>
    
    {% for note in notes %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ note.author.username }}</td>
        <td>{{ note.uploaddata }}</td>
        <td>{{ note.branch }}</td>
        <td>{{ note.subject }}</td>
        <td><a href="{{ note.notesfile.url }}" download>Download</a></td>
        <td>{{ note.filetype }}</td>
        <td>{{ note.description }}</td>
    </tr>

    {% endfor %}
  </table>

{% endblock content %}