{% extends 'user_base.html' %}

{% block content %}

{% ifequal error "no" %}
<script>
    alert('password changed successfully')
    window.location=("{% url 'logout' %}");
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong, try again!')
</script>
{% endifequal %}

<form method="post">
    {% csrf_token %}
    <div class="login-form">
        <div class="form-txt">Change Password</div>

        <div class="form-txt">
            Enter Old Password:
        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter old password" name="old">
        </div>

        <div class="form-txt">
            Enter New Password:
        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter new password" name="new">
        </div>
        
        <div class="form-txt">
            Enter New Password Again:
        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter new password" name="confirm">
        </div>
        <button type="submit">Change Password</button>
    </div>
</form>

{% endblock content %}